name: Deploy to Firebase Hosting
"on": workflow_dispatch
jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable" # or: 'beta', 'dev' or 'master'
      - uses: actions/checkout@v2
      - run: flutter pub get
      - run: ' flutter build web -t "lib/main_production.dart" --dart-define=NFTPORT=${{ secrets.NFTPORT }}'
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_MYETHWORLD }}"
          projectId: myethworld
          channelId: live
